// CSS
.start-page {
    margin-top: 100px;
    background-color: aqua;
}

li {
    background-color: rgb(148, 148, 148);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1px 10px;
    color: #fff;
}
